server:
  port: 8082

spring:
  application:
    name: user-service

  data:
    mongodb:
      uri: mongodb://localhost:27017/user_service_db


# JWT secret (matches what JwtService expects)
jwt:
  secret: KfTpBkd4/IZ8utP7ia3aZ8z7AM92lQmYJvgqxOGNR5o=


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
