<form [formGroup]="form" (ngSubmit)="submit()">

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="form.get('email')?.errors?.['required']">
      Email is required
    </mat-error>
    <mat-error *ngIf="form.get('email')?.errors?.['email']">
      Invalid email
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error *ngIf="form.get('password')?.errors?.['required']">
      Password is required
    </mat-error>
    <mat-error *ngIf="form.get('password')?.errors?.['minlength']">
      Minimum 6 characters
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option value="USER">User</mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('role')?.touched && form.get('role')?.invalid">
      Role is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="form.invalid || loading">
    {{ loading ? 'Registering...' : 'Register' }}
  </button>

  <p class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </p>

</form>