server:
  port: 8087

spring:
  application:
    name: api-gateway

  main:
    web-application-type: reactive

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:4200
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - Authorization
              - Content-Type
            allowCredentials: true

      routes:

        # =========================
        # USER SERVICE – AUTH (PUBLIC)
        # =========================
        - id: user-service-auth
          uri: lb://USER-SERVICE
          predicates:
            - Path=/auth/**

        # =========================
        # USER SERVICE – USER PROFILE (JWT REQUIRED)
        # =========================
        - id: user-service-user
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/user/**

        # =========================
        # PRODUCT SERVICE – JWT REQUIRED
        # =========================
        - id: product-service
          uri: lb://PRODUCT-SERVICE
          predicates:
            - Path=/api/products/**

        # =========================
        # MEDIA SERVICE – JWT REQUIRED
        # =========================
        - id: media-service
          uri: lb://MEDIA-SERVICE
          predicates:
            - Path=/api/media/**          # Match your MediaController mapping

jwt:
  secret: KfTpBkd4/IZ8utP7ia3aZ8z7AM92lQmYJvgqxOGNR5o=

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
